<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDB06c3JC9Puup5N4gk3cK1j9sQ0kO615U&sensor=false"></script>
    <style type="text/css">
      #mapDiv {
        width: 1200px;
        height: 800px;
      }

    </style>

    <script type="text/javascript">
      var map;
      function initMap() {
        google.maps.visualRefresh = true;

        var mapOptions = {
          zoom: 1,
          mapTypeControlOptions: {mapTypeIds:
               [google.maps.MapTypeId.ROADMAP]}
        };

        var mapElement = document.getElementById('mapDiv');
        map = new google.maps.Map(mapElement, mapOptions);
        map.setMapTypeId(google.maps.MapTypeId.ROADMAP);
        
        //Load GeoJSON
        map.data.loadGeoJson("<%= provinces_path format: :json -%>");
        
        map.setZoom(7);
        var gabon = new google.maps.LatLng(1.000000, 11.45000000);
        map.setCenter(gabon);

        //Create an info box for displaying names
        var infoBox = document.createElement('div');
        infoBox.innerHTML = "<div id='info-box'></div>";
        map.controls[google.maps.ControlPosition.RIGHT_TOP].push(infoBox);

        map.data.addListener('mouseover', function(event) {
          map.data.revertStyle();
          $('#info-box').text(event.feature.getProperty('name'));
          map.data.overrideStyle(event.feature, { fillColor: 'red' });


        });

        map.data.addListener('mouseout', function(event){
          map.data.revertStyle();
        });

        map.data.setStyle(function(feature) {
          return { fillColor: 'green',
                  strokeWeight: 1}
        });


      }

      function zoomToIstanbul() {
        var istanbul = new google.maps.LatLng(41.0579, 29.0340);
        map.setCenter(istanbul);
      }

      function zoomToStreet() {
        map.setZoom(18);
      }

      function disableDrag() {
        map.setOptions({draggable: false});
      }

      function setMaxZoom() {
        map.setOptions({maxZoom: 12});
      }

      function setMinZoom() {
        map.setOptions({minZoom: 5});
      }

      function changeUI() {
        map.setOptions({disableDefaultUI: true});
      }

      function disableScroll() {
        map.setOptions({scrollwheel: false});
      }

      function startButtonEvents() {
        document.getElementById('btnZoomToIst')
                .addEventListener('click', function(){
                  zoomToIstanbul();
                });

        document.getElementById('btnZoomToStr')
              .addEventListener('click', function() {
                zoomToStreet();
              });

        document.getElementById('btnDisableDrag')
              .addEventListener('click', function(){
                disableDrag();
              });

        document.getElementById('btnMaxZoom')
              .addEventListener('click', function() {
                setMaxZoom();
              });
        document.getElementById('btnMinZoom')
              .addEventListener('click', function() {
                setMinZoom();
              });
        document.getElementById('btnChangeUI')
              .addEventListener('click', function() {
                changeUI();
              })
        document.getElementById('btnDisableScroll')
              .addEventListener('click', function() {
                disableScroll();
              });
      }

      google.maps.event.addDomListener(window, 'load', initMap);
      document.addEventListener('DOMContentLoaded', startButtonEvents);
    </script>
  </head>
  <body>
    <h1>My First Map</h1>
    <input id="btnZoomToIst" type="button" value="Zoom To Istanbul" />
    <input id="btnZoomToStr" type="button" value="Zoom To Street Level" />
    <input id="btnDisableDrag" type="button" value="Disable Drag" />
    <input id="btnMaxZoom" type="button" value="Set Max Zoom to 12" />
    <input id="btnMinZoom" type="button" value="Set Min Zoom to 5" />
    <input id="btnChangeUI" type="button" value="Change UI" />
    <input id="btnDisableScroll" type="button" value="Disable Scroll Zoom" />

    <div id="mapDiv"></div>
  </body>
</html>